

<ion-view view-title="Dashboard">
  <ion-nav-bar class="bar-dark">  
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-more" ng-click="openPopover($event)"></button>

        <!--<button ng-click="openPopover($event)"  class="button button-icon icon ion-plus-circled"></button>
        <button class="button button-icon ion-more" ng-click="popover.show($event)">
        </button>-->
      </ion-nav-buttons>    
  </ion-nav-bar>
  <ion-content overflow-scroll="true">
  <div ng-show="loading" style="text-align: center; margin-top: 30vh;"><ion-spinner icon="android"></ion-spinner>
    <h2 ng-show="!online">Check your internet connection</h2><h2 ng-show="online">Wait a bit...</h2><button class="button button-icon ion-android-hand" ng-click="reloadData($event)"></button><h4>If all is okay and data is still not shown, press the arm</h4></div>


  <div class="card" ng-click="loadNewData(item.slug);" ng-repeat="item in categories" ng-show="!chosen" style="cursor: pointer">
  	<div class="item item-text-wrap">
          {{item.name}} <span class="badge badge-assertive">{{item.post_count}}</span>
  	</div>
  </div>
  <a href="#/tab/dash/{{item.ID}}" style="text-decoration: none" ng-show="chosen">
    <div class="list card" ng-repeat="item in data">
      <div class="item item-divider">
        <h2 ng-bind-html="item.title"></h2>
        <p>{{item.date | date:'longDate'}}</p>
      </div>
      <div class="item item-body">
        <p ng-bind-html="item.excerpt">
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-android-share-alt"></i>
          Share
        </a>
      </div>
    </div>
    </a>
  </ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 ><i class="icon ion-android-sunny"></i></h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list " ng-repeat="item in categories">
        <li class="item" ng-click="loadNewData(item.slug);closePopover($event);">
          {{item.name}} <span class="badge badge-assertive">{{item.post_count}}</span>
        </li>
      </ul>
    </ion-content>
  </ion-popover-view>
</script>