<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-nav-bar class="bar-dark" >  
   
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive" >
  <!-- Dashboard Tab -->
  <ion-tab title="Feed" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Favorites" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-android-settings" icon-on="ion-android-settings" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>

